%h3= t('edit_imes_d189h')
%h5
  = link_to t('show'), @imes_d189h
  \|
  = link_to t('back'), imes_d189hs_path

= render 'form'

%h5
  = link_to t('show'), @imes_d189h
  \|
  = link_to t('back'), imes_d189hs_path