%h3= t('edit_imes_d302h')
%h5
  = link_to t('show'), @imes_d302h
  \|
  = link_to t('back'), imes_d302hs_path

= render 'form'

%h5
  = link_to t('show'), @imes_d302h
  \|
  = link_to t('back'), imes_d302hs_path