%h3= t('edit_imes_qh_bdbh')
%h5
  = link_to t('show'), @imes_qh_bdbh
  \|
  = link_to t('back'), imes_qh_bdbhs_path

= render 'form'

%h5
  = link_to t('show'), @imes_qh_bdbh
  \|
  = link_to t('back'), imes_qh_bdbhs_path