%h3= t('edit_imes_d300h')
%h5
  = link_to t('show'), @imes_d300h
  \|
  = link_to t('back'), imes_d300hs_path

= render 'form'

%h5
  = link_to t('show'), @imes_d300h
  \|
  = link_to t('back'), imes_d300hs_path