%h3= t('edit_imes_d034h')
%h5
  = link_to t('show'), @imes_d034h
  \|
  = link_to t('back'), imes_d034hs_path

= render 'form'

%h5
  = link_to t('show'), @imes_d034h
  \|
  = link_to t('back'), imes_d034hs_path