.panel.panel-default
  .panel-heading
    .panel-title
      新建 / New SO Form
  .panel-body
    = form_tag(new_imes_d034h_url, method: 'get') do
      = hidden_field_tag 'sbm', 'X'
      .row
        .form-group.col-xs-12.col-sm-4
          %label{for: 'vbeln'}SO 號碼
          = text_field_tag 'vbeln', params[:vbeln], class: 'form-control'
      .row
        .form-group.col-xs-3
          = button_tag class: 'btn btn-defult btn-form-submit', type: 'button' do
            %span.glyphicon.glyphicon-floppy-save
            新建 Create
          .tab-2
          = link_to '返回 Back', :back
