%h3= t('edit_imes_d089h')
%h5
  = link_to t('show'), @imes_d089h
  \|
  = link_to t('back'), imes_d089hs_path

= render 'form'

%h5
  = link_to t('show'), @imes_d089h
  \|
  = link_to t('back'), imes_d089hs_path