%h3= t('edit_imes_d309h')
%h5
  = link_to t('show'), @imes_d309h
  \|
  = link_to t('back'), imes_d309hs_path

= render 'form'

%h5
  = link_to t('show'), @imes_d309h
  \|
  = link_to t('back'), imes_d309hs_path