%h3= t('attributes.imes_d272h')

%h5
  = link_to t('new_imes_d272h'), new_imes_d272h_path

= form_tag(imes_d272hs_url, method: 'get', class: 'form-inline') do
  = text_field_tag :name, nil, placeholder: t('attributes.name'), class: 'form-control input-sm', value: params[:name]
  = button_tag class: 'btn btn-success btn-form-submit', type: 'button' do
    %span.glyphicon.glyphicon-search

.table-responsive
  %table.table.table-hover.table-condensed.table-bordered
    %thead
      %tr
        %th= t('action')
    %tbody
      - @imes_d272hs.each do |imes_d272h|
        %tr
          %td
            = link_to t('edit'), edit_imes_d272h_path(imes_d272h)
            |
            = link_to t('delete'), imes_d272h, :method => :delete, :data => { :confirm => t('confirm_delete')}


%h5
  = link_to t('new_imes_d272h'), new_imes_d272h_path

= paginate @imes_d272hs unless @imes_d272hs.empty?