%h3= t('edit_imes_q001h')
%h5
  = link_to t('show'), @imes_q001h
  \|
  = link_to t('back'), imes_q001hs_path

= render 'form'

%h5
  = link_to t('show'), @imes_q001h
  \|
  = link_to t('back'), imes_q001hs_path