%h3= t('edit_imes_d301h')
%h5
  = link_to t('show'), @imes_d301h
  \|
  = link_to t('back'), imes_d301hs_path

= render 'form'

%h5
  = link_to t('show'), @imes_d301h
  \|
  = link_to t('back'), imes_d301hs_path