= simple_form_for(@imes_d238h) do |f|
  .form-inputs
    .col-xs-12.col-sm-6.col-md-4
      = f.input :company_site, collection: ['L300','L210','L400','L111']
    .col-xs-12.col-sm-6.col-md-4
      = f.input :required_department, collection: Sap::Csks.dept_list,label_method: :ktext, value_method: :kostl
    .col-xs-12.col-sm-6.col-md-4
      = f.input :applicant, input_html:{value: current_user.email.split('@').first.upcase},readonly: true
    .col-xs-12.col-sm-6.col-md-4
      = f.input :sro_no
    .col-xs-12.col-sm-6.col-md-4
      = f.input :customer_name
    .col-xs-12.col-sm-6.col-md-4
      = f.input :customer_id
    .col-xs-12.col-sm-6.col-md-4
      = f.input :lei_design_no
    .col-xs-12.col-sm-6.col-md-4
      = f.input :asset_code
    .col-xs-12.col-sm-6.col-md-4
      = f.input :apply_date, as: :string, readonly: true
    .col-xs-12.col-sm-6.col-md-4
      = f.input :beneficiary
    .col-xs-12.col-sm-6.col-md-4
      = f.input :charge_code, collection: Sap::Csks.dept_list,label_method: :ktext, value_method: :kostl
    .col-xs-12.col-sm-6.col-md-4
      = f.input :electronic_engineer, input_html:{class: 'typeahead-input', data:{provide:'typeahead'}}
    .col-xs-12.col-sm-6.col-md-4
      = f.input :electronic_engineer_ext
    .col-xs-12.col-sm-6.col-md-4
      = f.input :mechanical_engineer, input_html:{class: 'typeahead-input', data:{provide:'typeahead'}}
    .col-xs-12.col-sm-6.col-md-4
      = f.input :mechanical_engineer_ext
    .col-xs-12.col-sm-6.col-md-4
      = f.input :cavity_quantity
    .col-xs-12.col-sm-6.col-md-4
      = f.input :tooling_life
    .col-xs-12.col-sm-6.col-md-4
      = f.input :ee_spec
    .col-xs-12.col-sm-6.col-md-4
      = f.input :power_application
    .col-xs-12.col-sm-6.col-md-4
      = f.input :currency, collection: ['USD','RMB','HKD','TWD','JPD']
    .col-xs-12.col-sm-6.col-md-4
      = f.input :target_price
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_qty
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_product_life
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_cost
    .col-xs-12.col-sm-6.col-md-4
      - if @imes_d238h.gross_profit < 10
        = f.input :gross_profit, input_html:{style:'color:red;'}
      - else
        = f.input :gross_profit
    .col-xs-12.col-sm-6.col-md-4
      = f.input :lei_drawing
    .col-xs-12.col-sm-6.col-md-4
      = f.input :tooling_schedule
    .col-xs-12.col-sm-6.col-md-4
      = f.input :tooling_drawing
    .col-xs-12.col-sm-6.col-md-4
      = f.input :approval_record
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_delivery_date, as: :string
    .col-xs-12.col-sm-6.col-md-4
      = f.input :required_sample_amount
    .col-xs-12.col-sm-6.col-md-4
      = f.input :required_sample_color
    .col-xs-12.col-sm-6.col-md-4
      = f.collection_check_boxes :production_site, [['1', '東莞立德廠'] ,['2', '東莞領航廠'],['3', '江蘇領先廠'],['4', '菲律賓廠']], :first, :last
    .col-xs-12.col-sm-6.col-md-4
      = f.input :new_tooling_proposal
    .col-xs-12.col-sm-6.col-md-4
      = f.input :apply_item
    .col-xs-12.col-sm-6.col-md-4
      = f.input :tooling_category
    .col-xs-12.col-sm-6.col-md-4
      = f.input :ac_pin
    .col-xs-12.col-sm-6.col-md-4
      = f.input :payment_provider
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_tooling_charge
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_safty_charge
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_profit_after_1st_year
    .col-xs-12.col-sm-6.col-md-4
      = f.input :verification_requirement
    .col-xs-12.col-sm-6.col-md-4
      = f.input :m_e_department
    .col-xs-12.col-sm-6.col-md-4
      = f.input :specified_material
    .col-xs-12.col-sm-6.col-md-4
      = f.input :attachment
    .col-xs-12.col-sm-6.col-md-4
      = f.input :purchasing_department
    .col-xs-12.col-sm-6.col-md-4
      = f.input :supplier
    .col-xs-12.col-sm-6.col-md-4
      = f.input :reason
    .col-xs-12.col-sm-6.col-md-4
      = f.input :attachment01
    .col-xs-12.col-sm-6.col-md-4
      = f.input :tooling_material
    .col-xs-12.col-sm-6.col-md-4
      = f.input :min_life_cycle_tooling
    .col-xs-12.col-sm-6.col-md-4
      = f.input :related_cost
    .col-xs-12.col-sm-6.col-md-4
      = f.input :tooling_cost
    .col-xs-12.col-sm-6.col-md-4
      = f.input :unit_price
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_tooling_schedule
    .col-xs-12.col-sm-6.col-md-4
      = f.input :t1
    .col-xs-12.col-sm-6.col-md-4
      = f.input :ppr
    .col-xs-12.col-sm-6.col-md-4
      = f.input :mp
    .col-xs-12.col-sm-6.col-md-4
      = f.input :execution_requirement
    .col-xs-12.col-sm-6.col-md-4
      = f.input :me_en_department
    .col-xs-12.col-sm-6.col-md-4
      = f.input :open_tooling_date, as: :string
    .col-xs-12.col-sm-6.col-md-4
      = f.input :verification_status
    .col-xs-12.col-sm-6.col-md-4
      = f.input :fail_reason_desc
    .col-xs-12.col-sm-6.col-md-4
      = f.input :attachment11
    .col-xs-12.col-sm-6.col-md-4
      = f.input :lei_p_n
    .col-xs-12.col-sm-6.col-md-4
      = f.input :c_e_department
    .col-xs-12.col-sm-6.col-md-4
      = f.input :approval_date, as: :string
    .col-xs-12.col-sm-6.col-md-4
      = f.input :attachment1
    .col-xs-12.col-sm-6.col-md-4
      = f.input :verification_status
    .col-xs-12.col-sm-6.col-md-4
      = f.input :fail_reason
    .col-xs-12.col-sm-6.col-md-4
      = f.input :component_approval_code
    .col-xs-12.col-sm-6.col-md-4
      = f.input :purchasing_department
    .col-xs-12.col-sm-6.col-md-4
      = f.input :approval_date, as: :string
    .col-xs-12.col-sm-6.col-md-4
      = f.input :attachment21
    .col-xs-12.col-sm-6.col-md-4
      = f.input :approval_schedule
    .col-xs-12.col-sm-6.col-md-4
      = f.input :sales_department
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_payment_date, as: :string
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est, as: :string
    .col-xs-12.col-sm-6.col-md-4
      = f.input :payment1
    .col-xs-12.col-sm-6.col-md-4
      = f.input :actual_payment_receipt_date, as: :string
    .col-xs-12.col-sm-6.col-md-4
      = f.input :actual
    .col-xs-12.col-sm-6.col-md-4
      = f.input :payment2
    .col-xs-12.col-sm-6.col-md-4
      = f.input :est_forecasted_demand
    .col-xs-12.col-sm-6.col-md-4
      = f.input :actual_demand
    .col-xs-12.col-sm-6.col-md-4
      = f.input :cus_pay_amount
    .col-xs-12.col-sm-6.col-md-4
      = f.input :cus_pay_accrued_into
    .col-xs-12.col-sm-6.col-md-4
      = f.input :lei_pay_amount
    .col-xs-12.col-sm-6.col-md-4
      = f.input :lei_pay_accrued_into
    .col-xs-12.col-sm-6.col-md-4
      = f.input :bdfd

  .form-actions
    .clearfix
    = button_tag class: 'btn btn-danger', type: 'button', onclick: "$(this).button('loading');this.form.submit();", data:{loading_text: t('saving')} do
      %span.glyphicon.glyphicon-floppy-save
      = t('save')

  - if !@imes_d238h.bdbh.blank?
    = form_tag(startflow_imes_d238hs_path, method: 'get') do
      = button_tag class: 'btn btn-danger', type: 'button', onclick: "$(this).button('loading');this.form.submit();", data:{loading_text: t('saving')} do
        %span.glyphicon.glyphicon-floppy-save
          啟動審核流程 Start Flow



= render partial: 'layouts/bd_file_upload_form', locals: {object: @imes_d238h}


= render partial: 'imes/qh_bdlcs/qh_form', locals: {qh_bdlcs: @imes_d238h.imes_qh_bdlcs}

:javascript
    $(document).ready(function() {

    $('#imes_d238h_customer_id').change(function(){
      $.ajax({
        url: '/imes/d238hs/get_customer_name',
        data: {customer_id: $('#imes_d238h_customer_id').val()}
      })
    });

    $('#imes_d238h_gross_profit').change(function(){
    });

    $('#imes_d238h_target_price').change(function(){
      var tar_price = 0;
      var est_cost = 0;
      var gross_profit = 0;
      if ($('#imes_d238h_target_price').val() != ''){
          tar_price = $('#imes_d238h_target_price').val();
      }
      if ($('#imes_d238h_est_cost').val() != ''){
          est_cost = $('#imes_d238h_est_cost').val();
      }
      if (tar_price != 0 ){
         gross_profit = returnFloat((tar_price - est_cost) / tar_price *100);
         if(parseFloat(gross_profit)<10){
            $('#imes_d238h_gross_profit').css("color","red");
         }else{
            $('#imes_d238h_gross_profit').css("color","black");
         }
         $('#imes_d238h_gross_profit').val(gross_profit);
      }
    });

    $('#imes_d238h_est_cost').change(function(){
      var tar_price = 0;
      var est_cost = 0;
      var gross_profit = 0;
      if ($('#imes_d238h_target_price').val() != ''){
          tar_price = $('#imes_d238h_target_price').val();
      }
      if ($('#imes_d238h_est_cost').val() != ''){
          est_cost = $('#imes_d238h_est_cost').val();
      }
      if (tar_price != 0 ){
         gross_profit = returnFloat((tar_price - est_cost) / tar_price *100);
         if(parseFloat(gross_profit)<10){
            $('#imes_d238h_gross_profit').css("color","red");
         }else{
            $('#imes_d238h_gross_profit').css("color","black");
         }
         $('#imes_d238h_gross_profit').val(gross_profit);
      }
    });

  })


  function returnFloat(value){
      var value=Math.round(parseFloat(value)*100)/100;
      var xsd=value.toString().split(".");
      if(xsd.length==1){
          value=value.toString()+".00";
          return value;
      }
      if(xsd.length>1){
          if(xsd[1].length<2){
              value=value.toString()+"0";
          }
          return value;
      }

  }