= simple_form_for(@imes_d238h) do |f|
  = f.error_notification

  .form-inputs
    = f.input :company_site
    = f.input :required_department
    = f.input :applicant
    = f.input :sro_no
    = f.input :customer_name
    = f.input :customer_id
    = f.input :lei_design_no
    = f.input :asset_code
    = f.input :apply_date
    = f.input :beneficiary
    = f.input :charge_code
    = f.input :electronic_engineer
    = f.input :electronic_engineer_ext
    = f.input :mechanical_engineer
    = f.input :mechanical_engineer_ext
    = f.input :cavity_quantity
    = f.input :tooling_life
    = f.input :ee_spec
    = f.input :power_application
    = f.input :currency
    = f.input :target_price
    = f.input :est_qty
    = f.input :est_product_life
    = f.input :est_cost
    = f.input :gross_profit
    = f.input :lei_drawing
    = f.input :tooling_schedule
    = f.input :tooling_drawing
    = f.input :approval_record
    = f.input :est_delivery_date
    = f.input :required_sample_amount
    = f.input :required_sample_color
    = f.input :production_site
    = f.input :new_tooling_proposal
    = f.input :apply_item
    = f.input :tooling_category
    = f.input :ac_pin
    = f.input :payment_provider
    = f.input :est_tooling_charge
    = f.input :est_safty_charge
    = f.input :est_profit_after_1st_year
    = f.input :verification_requirement
    = f.input :m_e_department
    = f.input :specified_material
    = f.input :attachment
    = f.input :purchasing_department
    = f.input :supplier
    = f.input :reason
    = f.input :attachment01
    = f.input :tooling_material
    = f.input :min_life_cycle_tooling
    = f.input :related_cost
    = f.input :tooling_cost
    = f.input :unit_price
    = f.input :est_tooling_schedule
    = f.input :t1
    = f.input :ppr
    = f.input :mp
    = f.input :execution_requirement
    = f.input :me_en_department
    = f.input :open_tooling_date
    = f.input :verification_status
    = f.input :fail_reason_desc
    = f.input :attachment11
    = f.input :lei_p_n
    = f.input :c_e_department
    = f.input :approval_date
    = f.input :attachment1
    = f.input :verification_status
    = f.input :fail_reason
    = f.input :component_approval_code
    = f.input :purchasing_department
    = f.input :approval_date
    = f.input :attachment21
    = f.input :approval_schedule
    = f.input :sales_department
    = f.input :est_payment_date
    = f.input :est
    = f.input :payment1
    = f.input :actual_payment_receipt_date
    = f.input :actual
    = f.input :payment2
    = f.input :est_forecasted_demand
    = f.input :actual_demand
    = f.input :cus_pay_amount
    = f.input :cus_pay_accrued_into
    = f.input :lei_pay_amount
    = f.input :lei_pay_accrued_into
    = f.input :gsdm
    = f.input :bddm
    = f.input :bdbh
    = f.input :bdrq
    = f.input :bdzt
    = f.input :qhyh
    = f.input :qhsj
    = f.input :yxsj
    = f.input :jlyh
    = f.input :jlsj
    = f.input :gxyh
    = f.input :gxsj
    = f.input :bdjg
    = f.input :bdfd

  .form-actions
    .clearfix
    = button_tag class: 'btn btn-danger', type: 'button', onclick: "$(this).button('loading');this.form.submit();", data:{loading_text: t('saving')} do
      %span.glyphicon.glyphicon-floppy-save
      = t('save')
    = button_tag class: 'btn btn-danger', type: 'button', onclick: "$(this).button('loading');this.form.submit();", data:{loading_text: t('saving')} do
      %span.glyphicon.glyphicon-floppy-save
      = t('save')
