.panel.panel-default
  .panel-heading
    立德电子模具需求申请表
  .panel-body{style:'padding-bottom: 0px;'}
    = form_tag(create_imes_d238hs_path, method: 'get', class: 'form-horizontal', id:'form_id') do
      .form-group
        .col-xs-12
          = text_field_tag :barcode, nil,placeholder: t('attributes.barcode'), class: 'form-control', value:'', id: 'barcode'



      - if @barcode.parent.blank? and @barcode.name.eql?('box') and @barcode.menge > 0
        %hr
        %h5 請填入要填充的
        = form_tag(packing_barcodes_url, method: 'get', class: 'form-horizontal', remote: true, id:'form_id') do
          = hidden_field_tag :uuid, @barcode.uuid
          .form-group
            .col-sm-12
              %dt
                = t('attributes.box_cnt')
              %dd
                = text_field_tag 'other_id', nil, placeholder: t('attributes.barcode'), type:'string',class: 'form-control inputparent_id', value:'', id: "parent_id"
          .form-group
            .col-sm-12
              = label_tag 'printer_id', t('attributes.printer')
              = select_tag 'printer_id', options_from_collection_for_select(Printer.all.select(:uuid,:code), 'uuid', 'code', current_user.printer_id), class: 'select optional form-control'
          .form-group
            .col-sm-12
              = button_tag class: 'btn btn-primary btn-form-submit form-control', type: 'button' do
                打印外箱條碼標籤
                %span.glyphicon.glyphicon-print
