%h3= "立德电子模具需求申请表"
%h5
  = link_to t('show'), @imes_d238h
  \|
  = link_to t('back'), imes_d238hs_path

= render 'form'

%h5
  = link_to t('show'), @imes_d238h
  \|
  = link_to t('back'), imes_d238hs_path