%h3= "立德电子模具需求申请表"

%h5
  = link_to "新建 Create", new_imes_d238h_path

= form_tag(imes_d238hs_url, method: 'get', class: 'form-inline') do
  = text_field_tag :name, nil, placeholder: t('attributes.name'), class: 'form-control input-sm', value: params[:name]
  = button_tag class: 'btn btn-success btn-form-submit', type: 'button' do
    %span.glyphicon.glyphicon-search

.table-responsive
  %table.table.table-hover.table-condensed.table-bordered
    %thead
      %tr
        %th= t('action')
        %th= t('attributes.company_site')
        %th= t('attributes.required_department')
        %th= t('attributes.applicant')
        %th= t('attributes.sro_no')
        %th= t('attributes.customer_name')
        %th= t('attributes.supplier')
        %th= t('attributes.open_tooling_date')
        %th= t('attributes.verification_status')
        %th= t('attributes.est_payment_date')
        %th= t('attributes.est_forecasted_demand')
        %th= t('attributes.actual_demand')
    %tbody
      - @imes_d238hs.each do |imes_d238h|
        %tr
          %td
            = link_to t('edit'), edit_imes_d238h_path(imes_d238h)
            |
            = link_to t('delete'), imes_d238h, :method => :delete, :data => { :confirm => t('confirm_delete')}

          %td= imes_d238h.company_site
          %td= imes_d238h.required_department
          %td= imes_d238h.applicant
          %td= imes_d238h.sro_no
          %td= imes_d238h.customer_name
          %td= imes_d238h.supplier
          %td= imes_d238h.open_tooling_date
          %td= imes_d238h.verification_status
          %td= imes_d238h.est_payment_date
          %td= imes_d238h.est_forecasted_demand
          %td= imes_d238h.actual_demand

%h5
  = link_to "新建 Create", new_imes_d238h_path

/= paginate @imes_d238hs unless @imes_d238hs.empty?
