%h3= t('attributes.imes_d238h')

%h5
  = link_to t('new_imes_d238h'), new_imes_d238h_path

= form_tag(imes_d238hs_url, method: 'get', class: 'form-inline') do
  = text_field_tag :name, nil, placeholder: t('attributes.name'), class: 'form-control input-sm', value: params[:name]
  = button_tag class: 'btn btn-success btn-form-submit', type: 'button' do
    %span.glyphicon.glyphicon-search

.table-responsive
  %table.table.table-hover.table-condensed.table-bordered
    %thead
      %tr
        %th= t('action')
        %th= t('attributes.company_site')
        %th= t('attributes.required_department')
        %th= t('attributes.applicant')
        %th= t('attributes.sro_no')
        %th= t('attributes.customer_name')
        %th= t('attributes.customer_id')
        %th= t('attributes.lei_design_no')
        %th= t('attributes.asset_code')
        %th= t('attributes.apply_date')
        %th= t('attributes.beneficiary')
        %th= t('attributes.charge_code')
        %th= t('attributes.electronic_engineer')
        %th= t('attributes.electronic_engineer_ext')
        %th= t('attributes.mechanical_engineer')
        %th= t('attributes.mechanical_engineer_ext')
        %th= t('attributes.cavity_quantity')
        %th= t('attributes.tooling_life')
        %th= t('attributes.ee_spec')
        %th= t('attributes.power_application')
        %th= t('attributes.currency')
        %th= t('attributes.target_price')
        %th= t('attributes.est_qty')
        %th= t('attributes.est_product_life')
        %th= t('attributes.est_cost')
        %th= t('attributes.gross_profit')
        %th= t('attributes.lei_drawing')
        %th= t('attributes.tooling_schedule')
        %th= t('attributes.tooling_drawing')
        %th= t('attributes.approval_record')
        %th= t('attributes.est_delivery_date')
        %th= t('attributes.required_sample_amount')
        %th= t('attributes.required_sample_color')
        %th= t('attributes.production_site')
        %th= t('attributes.new_tooling_proposal')
        %th= t('attributes.apply_item')
        %th= t('attributes.tooling_category')
        %th= t('attributes.ac_pin')
        %th= t('attributes.payment_provider')
        %th= t('attributes.est_tooling_charge')
        %th= t('attributes.est_safty_charge')
        %th= t('attributes.est_profit_after_1st_year')
        %th= t('attributes.verification_requirement')
        %th= t('attributes.m_e_department')
        %th= t('attributes.specified_material')
        %th= t('attributes.attachment')
        %th= t('attributes.purchasing_department')
        %th= t('attributes.supplier')
        %th= t('attributes.reason')
        %th= t('attributes.attachment01')
        %th= t('attributes.tooling_material')
        %th= t('attributes.min_life_cycle_tooling')
        %th= t('attributes.related_cost')
        %th= t('attributes.tooling_cost')
        %th= t('attributes.unit_price')
        %th= t('attributes.est_tooling_schedule')
        %th= t('attributes.t1')
        %th= t('attributes.ppr')
        %th= t('attributes.mp')
        %th= t('attributes.execution_requirement')
        %th= t('attributes.me_en_department')
        %th= t('attributes.open_tooling_date')
        %th= t('attributes.verification_status')
        %th= t('attributes.fail_reason_desc')
        %th= t('attributes.attachment11')
        %th= t('attributes.lei_p_n')
        %th= t('attributes.c_e_department')
        %th= t('attributes.approval_date')
        %th= t('attributes.attachment1')
        %th= t('attributes.verification_status')
        %th= t('attributes.fail_reason')
        %th= t('attributes.component_approval_code')
        %th= t('attributes.purchasing_department')
        %th= t('attributes.approval_date')
        %th= t('attributes.attachment21')
        %th= t('attributes.approval_schedule')
        %th= t('attributes.sales_department')
        %th= t('attributes.est_payment_date')
        %th= t('attributes.est')
        %th= t('attributes.payment1')
        %th= t('attributes.actual_payment_receipt_date')
        %th= t('attributes.actual')
        %th= t('attributes.payment2')
        %th= t('attributes.est_forecasted_demand')
        %th= t('attributes.actual_demand')
        %th= t('attributes.cus_pay_amount')
        %th= t('attributes.cus_pay_accrued_into')
        %th= t('attributes.lei_pay_amount')
        %th= t('attributes.lei_pay_accrued_into')
        %th= t('attributes.gsdm')
        %th= t('attributes.bddm')
        %th= t('attributes.bdbh')
        %th= t('attributes.bdrq')
        %th= t('attributes.bdzt')
        %th= t('attributes.qhyh')
        %th= t('attributes.qhsj')
        %th= t('attributes.yxsj')
        %th= t('attributes.jlyh')
        %th= t('attributes.jlsj')
        %th= t('attributes.gxyh')
        %th= t('attributes.gxsj')
        %th= t('attributes.bdjg')
        %th= t('attributes.bdfd')
    %tbody
      - @imes_d238hs.each do |imes_d238h|
        %tr
          %td
            = link_to t('edit'), edit_imes_d238h_path(imes_d238h)
            |
            = link_to t('delete'), imes_d238h, :method => :delete, :data => { :confirm => t('confirm_delete')}

          %td= imes_d238h.company_site
          %td= imes_d238h.required_department
          %td= imes_d238h.applicant
          %td= imes_d238h.sro_no
          %td= imes_d238h.customer_name
          %td= imes_d238h.customer_id
          %td= imes_d238h.lei_design_no
          %td= imes_d238h.asset_code
          %td= imes_d238h.apply_date
          %td= imes_d238h.beneficiary
          %td= imes_d238h.charge_code
          %td= imes_d238h.electronic_engineer
          %td= imes_d238h.electronic_engineer_ext
          %td= imes_d238h.mechanical_engineer
          %td= imes_d238h.mechanical_engineer_ext
          %td= imes_d238h.cavity_quantity
          %td= imes_d238h.tooling_life
          %td= imes_d238h.ee_spec
          %td= imes_d238h.power_application
          %td= imes_d238h.currency
          %td= imes_d238h.target_price
          %td= imes_d238h.est_qty
          %td= imes_d238h.est_product_life
          %td= imes_d238h.est_cost
          %td= imes_d238h.gross_profit
          %td= imes_d238h.lei_drawing
          %td= imes_d238h.tooling_schedule
          %td= imes_d238h.tooling_drawing
          %td= imes_d238h.approval_record
          %td= imes_d238h.est_delivery_date
          %td= imes_d238h.required_sample_amount
          %td= imes_d238h.required_sample_color
          %td= imes_d238h.production_site
          %td= imes_d238h.new_tooling_proposal
          %td= imes_d238h.apply_item
          %td= imes_d238h.tooling_category
          %td= imes_d238h.ac_pin
          %td= imes_d238h.payment_provider
          %td= imes_d238h.est_tooling_charge
          %td= imes_d238h.est_safty_charge
          %td= imes_d238h.est_profit_after_1st_year
          %td= imes_d238h.verification_requirement
          %td= imes_d238h.m_e_department
          %td= imes_d238h.specified_material
          %td= imes_d238h.attachment
          %td= imes_d238h.purchasing_department
          %td= imes_d238h.supplier
          %td= imes_d238h.reason
          %td= imes_d238h.attachment01
          %td= imes_d238h.tooling_material
          %td= imes_d238h.min_life_cycle_tooling
          %td= imes_d238h.related_cost
          %td= imes_d238h.tooling_cost
          %td= imes_d238h.unit_price
          %td= imes_d238h.est_tooling_schedule
          %td= imes_d238h.t1
          %td= imes_d238h.ppr
          %td= imes_d238h.mp
          %td= imes_d238h.execution_requirement
          %td= imes_d238h.me_en_department
          %td= imes_d238h.open_tooling_date
          %td= imes_d238h.verification_status
          %td= imes_d238h.fail_reason_desc
          %td= imes_d238h.attachment11
          %td= imes_d238h.lei_p_n
          %td= imes_d238h.c_e_department
          %td= imes_d238h.approval_date
          %td= imes_d238h.attachment1
          %td= imes_d238h.verification_status
          %td= imes_d238h.fail_reason
          %td= imes_d238h.component_approval_code
          %td= imes_d238h.purchasing_department
          %td= imes_d238h.approval_date
          %td= imes_d238h.attachment21
          %td= imes_d238h.approval_schedule
          %td= imes_d238h.sales_department
          %td= imes_d238h.est_payment_date
          %td= imes_d238h.est
          %td= imes_d238h.payment1
          %td= imes_d238h.actual_payment_receipt_date
          %td= imes_d238h.actual
          %td= imes_d238h.payment2
          %td= imes_d238h.est_forecasted_demand
          %td= imes_d238h.actual_demand
          %td= imes_d238h.cus_pay_amount
          %td= imes_d238h.cus_pay_accrued_into
          %td= imes_d238h.lei_pay_amount
          %td= imes_d238h.lei_pay_accrued_into
          %td= imes_d238h.gsdm
          %td= imes_d238h.bddm
          %td= imes_d238h.bdbh
          %td= imes_d238h.bdrq
          %td= imes_d238h.bdzt
          %td= imes_d238h.qhyh
          %td= imes_d238h.qhsj
          %td= imes_d238h.yxsj
          %td= imes_d238h.jlyh
          %td= imes_d238h.jlsj
          %td= imes_d238h.gxyh
          %td= imes_d238h.gxsj
          %td= imes_d238h.bdjg
          %td= imes_d238h.bdfd

%h5
  = link_to t('new_imes_d238h'), new_imes_d238h_path

/= paginate @imes_d238hs unless @imes_d238hs.empty?
