%h3= t('attributes.imes_d031h')

%h5
  = link_to t('new_imes_d031h'), new_imes_d031h_path

= form_tag(imes_d031hs_url, method: 'get', class: 'form-inline') do
  = text_field_tag :name, nil, placeholder: t('attributes.name'), class: 'form-control input-sm', value: params[:name]
  = button_tag class: 'btn btn-success btn-form-submit', type: 'button' do
    %span.glyphicon.glyphicon-search

.table-responsive
  %table.table.table-hover.table-condensed.table-bordered
    %thead
      %tr
        %th= t('action')
    %tbody
      - @imes_d031hs.each do |imes_d031h|
        %tr
          %td
            = link_to t('edit'), edit_imes_d031h_path(imes_d031h)
            |
            = link_to t('delete'), imes_d031h, :method => :delete, :data => { :confirm => t('confirm_delete')}


%h5
  = link_to t('new_imes_d031h'), new_imes_d031h_path

= paginate @imes_d031hs unless @imes_d031hs.empty?