%h3= t('edit_reimbursement')
%h5
  = link_to t('show'), @reimbursement
  \|
  = link_to t('back'), reimbursements_path

= render 'form'

%h5
  = link_to t('show'), @reimbursement
  \|
  = link_to t('back'), reimbursements_path