
-if user_signed_in? && current_user.role == 'admin'
  %li= link_to 'Users', users_path if current_user.role == 'admin'

- if user_signed_in?
  /%li=# link_to t('reimbursement'), reimbursements_url #link_to t('attributes.u1_score'), supplier_entry_tqrdc_scores_path
  %li= link_to 'SO Form', imes_d034hs_path
  %li= link_to 'Tooling Form', imes_d238hs_path


- if user_signed_in?

  %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
- else
  %li= link_to 'Login', new_user_session_path